h1 = place.name

p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus saepe dolorum porro sapiente officia minima error unde ullam eum eius quis quidem cupiditate enim sed explicabo, ipsam magnam reprehenderit.

p = place.address

= link_to "Editar", edit_place_path(place)
